<div class="card">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..\assets\phone-screen.png" class="img-fluid rounded-start" alt="9" width="100%"
                    height="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: tomato;">Login To Proceed</h5>
                    <form>
                        <input type="email" name="email" placeholder="Enter E-mail address"
                            style="width: 100%;"><br><br>
                        <input type="password" name="password" placeholder="Enter Password"
                            style="width: 100%;"><br><br>
                        <button type="submit" style="width: 100%;" class="btn btn-info">Login</button><br><br>

                       <button style="width: 100%;" class="btn btn-warning">NEW TO BUILDERSMART? SIGN-UP <a href="http://localhost:4200/register"></a></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>